@model AccountResendEmailConfirmation

@{
    ViewBag.Title = "title";
    Layout = "_AccountLayout";
}

<!-- Left Text-->
<div class="d-none d-lg-flex col-lg-8 align-items-center p-5">
    <div class="w-100 d-lg-flex align-items-center justify-content-center px-5">
        <img class="img-fluid" src="/app-assets/images/pages/reset-password-v2-dark.svg" alt="Register V2"/>
    </div>
</div>
<!-- /Left Text-->

<div class="d-flex col-lg-4 align-items-center auth-bg px-2 p-lg-5">
    <div class="col-12 col-sm-8 col-md-6 col-lg-12 px-xl-2 mx-auto">
        <h2 class="card-title fw-bold mb-1">Forgot Password? 🔒</h2>
        <p class="card-text mb-2">Enter your email and we'll send you instructions to reset your password</p>
        <form class="auth-forgot-password-form mt-2" method="POST">
            <div class="mb-1">
                <label class="form-label" asp-for="EmailAddress"></label>
                <input class="form-control" asp-for="EmailAddress" placeholder="john@example.com" autofocus="" tabindex="1"/>
                <span asp-validation-for="EmailAddress" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary w-100" tabindex="2">Send reset link</button>
            @if (!ViewData.ModelState.IsValid)
            {
                <div asp-validation-summary="All" class="alert alert-danger mt-2 p-1"></div>
            }
        </form>
        <p class="text-center mt-2">
            <a asp-action="Login"><i data-feather="chevron-left"></i> Back to login</a>
        </p>
    </div>
</div>